# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# MemoryCaptures can get excessive in size.
# They also could contain extremely sensitive data
[Mm]emoryCaptures/

# Asset cache, used by Asset Store and Package Manager
[Ll]ibrary/
[Pp]ackages/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.opendb

# ============ #
# OS generated #
# ============ #
.DS_Store*
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
[Tt]humbs.db
